.hotbar-container {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2vh;
}

.hotbar-item-slot {
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 7vh;
  border-radius: var(--radius);

  width: var(--grid-cell-size);
  height: var(--grid-cell-size);

  transition: box-shadow 0.3s;

  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);

  &:hover {
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.5);
  }

  &.inventory-slot-full {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--color-main);
    box-shadow: inset 0 0 10px 0 rgba(var(--color-main-rgb), 0.5);
  }

  &.inventory-slot-empty {
  }
}

.hotbar-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
