.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: rgba(var(--color-main-rgb), 0.1);
}

.item-slot-header-wrapper,
.item-hotslot-header-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  padding: 0.15rem;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;

  background-color: rgba(var(--color-main-rgb), 0.6);

  background: linear-gradient(rgba(var(--color-main-rgb), 0), var(--color-main));

  .item-slot-info-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
    width: 100%;
    font-size: 0.7rem;
  }
}

.item-slot-price {
  position: absolute;
  bottom: 1rem;
  right: 0.15rem;

  .item-slot-currency-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  p {
    font-size: 0.7rem;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}
