@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import './normalize.css';
@import './variables.css';
@import './inventory.css';
@import './inventory-grid.css';
@import './inventory-slot.css';
@import './item-slot.css';

@import './inventory-hot-slots.css';

@import './hotbar.css';
@import './bars.css';

@import './inventory-control.css';

@import './item-drag-preview.css';
@import './tooltip.css';
@import './context-menu.css';

@import './useful-controls.css';

body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

:root {
  --sb-track-color: transparent;
  --sb-thumb-color: var(--color-main);
  --sb-size: 4px;
  --sb-radius: 0;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: var(--sb-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: var(--sb-radius);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.app-wrapper {
  height: 100%;
  width: 100%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
}

.text-primary {
  color: var(--color-main);
}

button.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: var(--radius);
  background-color: rgba(255, 255, 255, 0.1);

  color: #fff;
  font-size: 0.8rem;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);

  transition: background-color 300ms;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.background-icon {
  --background-size: 3rem;
  --bg-icon-color: var(--color-main);

  &.white {
    --bg-icon-color: rgba(255, 255, 255, 0.1);
  }

  width: var(--background-size);
  height: var(--background-size);
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';

    --outline-width: 2px;
    --outline-offset: 4px;

    position: absolute;

    background-color: var(--bg-icon-color);

    transform: rotate(45deg) scale(0.7071);
    transform-origin: center;

    width: calc(100% - (var(--outline-width) * 2) - (var(--outline-offset) * 2));
    height: calc(100% - (var(--outline-width) * 2) - (var(--outline-offset) * 2));

    outline: var(--outline-width) solid var(--bg-icon-color);
    outline-offset: var(--outline-offset);
  }

  & svg {
    color: rgba(255, 255, 255, 1);
    width: auto;
    height: 70%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
  }
}
