.tooltip-wrapper {
  pointer-events: none;
  display: inline-flex;
  flex-direction: column;
  gap: 0.25rem;

  z-index: 20;

  max-width: 200px;

  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.1);

  box-shadow: inset 0 0 1rem 0 rgba(255, 255, 255, 0.1);

  padding: 1rem;
  border-radius: var(--radius);
  border: 1px solid rgba(255, 255, 255, 0.1);

  p {
    font-size: 0.7rem;
    font-weight: 400;
  }
}

.tooltip-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;

  .tooltip-title {
    display: flex;
    align-items: baseline;
    gap: 0.25rem;

    .tooltip-name {
      font-size: 0.9rem;
    }

    .tooltip-count {
      font-size: 0.7rem;
      color: var(--color-main);
    }
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 3px;
  }
  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}
